In [1]:
import pandas as pd
from pathlib import Path
from utils_sql import create_connection, create_insert_table_db_sync

In [16]:
path = Path.home() / "Downloads" / "july_comission.xlsx"
df_ind_cond = pd.read_excel(path)

In [25]:
df_ind_cond.head()

,subject_name,fbo_individual_conditions,fbs_individual_conditions,date_from,date_to
0,Табуреты,26,26,2026-01-01,2100-12-31
1,Биркодержатели,26,26,2026-01-01,2100-12-31
2,Капсулы для стирки,26,26,2026-01-01,2100-12-31
3,Киноа,26,26,2026-01-01,2100-12-31
4,Аксессуары для рукоделия,26,26,2026-01-01,2100-12-31

In [24]:
df_ind_cond['date_to'] = pd.to_datetime('2100-12-31')

In [26]:
table_name = 'individual_conditions'
columns_type = {
    'subject_name': 'VARCHAR(255)',
    'fbo_individual_conditions': 'BIGINT',
    'fbs_individual_conditions': 'VARCHAR(255)',
    'date_from': 'date',
    'date_to': 'date'
}
# Ключевые колонки для UPSERT
key_columns = ('subject_name', 'date_from')  # как первичный ключ
create_insert_table_db_sync(df_ind_cond, table_name, columns_type, key_columns)
print(f"Данные добавлены в БД {table_name}")

Данные добавлены в БД individual_conditions